/* colors */

$primary-color: #572a25;
$accent-color: #850012;
$transparent-gray: rgba(102, 102, 102, 0.29);

/* heights */
$xs-height: 50px;
$sm-height: 75px;
$md-height: 150px;
$lg-height: 300px;
$xl-height: 500px;
$xxl-height: 750px;

/* fonts */
$primary-font: 'Space Mono', sans;
$pinkfloyd: 'pinkfloyd', cursive;

/* font-size */
$xs-font: 1.25em;
$sm-font: 2em;
$md-font: 2.5em;
$lg-font: 3.125em;
$xl-font: 4.5em;

// info
$record-slide-left: 20%;

$query-1200-fig-album:0%;
$query-1200-fig-vinyl:12.5%;

$query-1000-fig-album:0%;
$query-1000-fig-vinyl:11%;

$query-600-fig-album:0%;
$query-600-fig-vinyl:15%;

$query-300-fig-album:0%;
$query-300-fig-vinyl:20%;
